// ////////////////////////////////////////////////////////////
// Layout

$margin: 24px;
$padding: $margin;

// ////////////////////////////////////////////////////////////
// Colors

// adapted from http://www.papersandpaints.co.uk/1930s-colours/

// Base colors
$aircraft-blue: #202b49;
$biarritz: #f8d462;
$jasper-blue: #7a88a3;
$oxford-blue: #17293a;
$parrot: #035a5c;
$penguin: #fff9e3;

// As used
$color-fg: $oxford-blue;
$color-link: $parrot;
$color-link-hover: $aircraft-blue;

$color-bg: #ffffff;
$color-bg-accent: $penguin;
$color-bg-error: $biarritz;

$color-border: $jasper-blue;

// ////////////////////////////////////////////////////////////
// Typography

// sass-lint:disable-block indentation
$font-family:
        'Neue Haas Grotesk',
        'Helvetica Neue',
        'Helvetica',
        'Nimbus Sans',
        'Nimbus Sans L',
        'Arial',
        sans-serif
;
