@import 'globals';

html {
  height: 100%;
}

body {
  background-color: $color-bg;
  color: $color-fg;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  line-height: (4 / 3);
  margin: $margin;
  min-height: 100vh;
  width: 100%;
}

nav {
  align-self: start;
  display: flex;
  flex: 1;
  justify-self: left;
}

main {
  align-self: start;
  flex-direction: column;
  flex-grow: 1;
  height: min-content;
  padding: $padding;
  width: fit-content;
}

h1 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: $margin / 2;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

table {
  font-size: smaller;

  thead tr th {
    border-bottom: 1px solid $color-border;
    padding-bottom: 0;
  }

  tr:not(:last-child) {
    th {
      border-bottom: 1px solid $color-border;
    }

    td {
      border-bottom: 1px solid $color-border;
    }
  }

  tr:nth-child(even) {
    background: $color-bg-accent;
  }
}

th {
  font-weight: bold;
  padding: $padding / 2;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: $padding / 4;
  }
}

td {
  padding: $padding / 2;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: $padding / 4;
  }
}

img.avatar {
  height: 1em;
}

section.form {
  margin-bottom: $margin;
}

aside.error {
  background: $color-bg-error;
  border: 1px solid $color-border;
  margin-top: $margin;
  padding: $padding;
  width: fit-content;
}

section.events {
  border-top: 1px solid $color-border;
  margin-top: $margin;
  padding-top: $padding;
  position: relative;

  nav {
    font-size: smaller;
    position: absolute;
    right: 0;
    // fudge baseline to match <h1> on left
    top: (7 * $margin) / 6;

    ul {
      display: grid;
      grid-auto-flow: column;
      margin-left: auto;

      li {
        display: block;
        text-align: center;
        width: 2em;

        &.current {
          font-weight: bold;
        }

        &:not(:last-of-type) {
          border-right: 1px solid $color-border;
        }
      }
    }
  }
}