html {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #17293a;
  display: flex;
  flex-direction: column;
  font-family: "Neue Haas Grotesk", "Helvetica Neue", "Helvetica", "Nimbus Sans", "Nimbus Sans L", "Arial", sans-serif;
  line-height: 1.33333;
  margin: 24px;
  min-height: 100vh;
  width: 100%;
}

nav {
  align-self: start;
  display: flex;
  flex: 1;
  justify-self: left;
}

main {
  align-self: start;
  flex-direction: column;
  flex-grow: 1;
  height: min-content;
  padding: 24px;
  width: fit-content;
}

h1 {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 12px;
}

a {
  color: #035a5c;
  text-decoration: none;
}

a:hover {
  color: #202b49;
  text-decoration: underline;
}

table {
  font-size: smaller;
}

table thead tr th {
  border-bottom: 1px solid #7a88a3;
  padding-bottom: 0;
}

table tr:not(:last-child) th {
  border-bottom: 1px solid #7a88a3;
}

table tr:not(:last-child) td {
  border-bottom: 1px solid #7a88a3;
}

table tr:nth-child(even) {
  background: #fff9e3;
}

th {
  font-weight: bold;
  padding: 12px;
  text-align: left;
}

th:first-child {
  padding-left: 0;
}

th:last-child {
  padding-right: 6px;
}

td {
  padding: 12px;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 6px;
}

img.avatar {
  height: 1em;
}

section.form {
  margin-bottom: 24px;
}

aside.error {
  background: #f8d462;
  border: 1px solid #7a88a3;
  margin-top: 24px;
  padding: 24px;
  width: fit-content;
}

section.events {
  border-top: 1px solid #7a88a3;
  margin-top: 24px;
  padding-top: 24px;
}
