<h1>List Events</h1>

<%= form_tag('/', method: 'get') do %>
  <%= label_tag(:login, "Enter a GitHub login name to get started:") %>
  <%= text_field_tag(:login) %>
  <%= submit_tag(value="Go", name: 'submit', id: 'submit') %>
<% end %>
